

.container {
    width: 80%;
    max-width: 68%;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    height: 97vh;
    display: flex;
    flex-wrap: wrap; 
}

.left {
    flex: 0 0 35%; 
    background-color: white;
    padding: 10px;
    box-sizing: border-box; 
}

.left h2{
    text-decoration: underline;
    font-size: 40px;
}

.right {
    flex: 0 0 65%; 
    background-color: rgb(7, 7, 7);
    display: flex;
    flex-direction: column;
}

.rightcentral{
    flex: 1; 
    background-color: rgb(9, 9, 9);
    max-height: 65%;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    
}

.leftblack, .rightblack {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftblack {
    background-color: white; 
}

.rightblack {
    background-color: red; 
}

.container-image {
    max-width: 100%; 
    max-height: 100%; 
    display: block; 
    margin: auto;
}

.leftblack img{
    width: 98.5%;
    height: 100%;
    border-right: 5px solid black;    

}

.rightblack img{
    height: 100%;
    width: 98.5%;
    border-left: 5px solid black;    


}

.center-image {
    position: absolute;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);
    height: 28%;
    width: 13%;
    border-radius: 50%;
}

    .right h2 {
    font-family: 'Irish Grover', sans-serif; 
    text-align: center; 
    color: white;
    font-size: 40px;
    text-decoration: underline;

    }

    




.h2 {
    font-family: 'Irish Grover', sans-serif; 
    text-align: center; 
    margin-bottom: 20px; 
}

label {
    display: block; 
    margin-bottom: 5px; 
}

input {
    width: 100%; 
    padding: 8px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc;    
    box-sizing: border-box; 
    border-bottom: 1.5px solid #F7270B;    
    align-items: center;
    justify-content: center;

}

button {
    width: 100%; 
    padding: 10px; 
    margin-top: 10px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    background-color: #F7270B; 
    color: white; 
}

button:hover {
    background-color: #c11e08; 
}

@media screen and (max-width: 800px) {
    
    .container {
        flex-direction: column; 
    }

    .left {
        order: 1; 
        flex: 3;
    }

    .right {
        display: none;
    }
}