<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href='https://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet'>
</head>
<body>
    <div class=".container" *ngIf="!isSignedIn">
        <h2 class="h2">Blindfold</h2>
        <div>
            <label for="email">Email:</label>
            <br>
            <input type="text" id="email" #email>
        </div>
        <div>
            <label for="password">Password:</label>
            <br>
            <input type="password" id="password" #password>
        </div>
        <button class="buttom" (click)="onSignin(email.value, password.value)">Login</button>
        <button class="button" routerLink="/signup">Sign Up</button>
    </div>
    <div class=".container">
        <img style="background-color: black;" src="assets/images/rabbit.jpg" class="img-fluid">
    </div>
    <!-- <app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home> -->
</body>
</html>
