<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href='https://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet'>
</head>
<body>
    <div class="container" *ngIf="!isSignedIn">

        <div class="left">
            <h2 class="h2">Blindfold</h2>

        
            <label for="email">Email:</label>
            <br>
            <input type="text" id="email" #email>
        
        
            <label for="password">Password:</label>
            <br>
            <input type="password" id="password" #password>
            <div>
                <button class="buttom" (click)="onSignin(email.value, password.value)">Login</button>
                <button class="button" routerLink="/signup">Sign Up</button>
                </div>
        
        </div>

         
        <div class="right"> 
            <div><h2>Dating in disguise</h2></div>
            <div class="rightcentral">
                <div class="leftblack">
                    <img src="https://images.squarespace-cdn.com/content/v1/63052619b0f81122751533e9/1668105123966-OR5DVVRV4LY6IV9IYNL7/couples-photography-afp-27.jpg">
                </div>
                <img src="assets/images/blindfold-512.png" class="center-image" alt="Center Image"> 

                <div class="rightblack">
                    <img src="https://images.pexels.com/photos/1024984/pexels-photo-1024984.jpeg?cs=srgb&dl=pexels-asadphoto-1024984.jpg&fm=jpg">
                </div>

                

            </div>
            

        </div>
    
    </div>
    
    <!-- <app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home> -->
</body>
</html>
