html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}



.sidenav {
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000; 
}



.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff; 
    display: block;
    border-top: 1.5px solid #a9a5a4;    

}
.sidenav a:hover {
    background-color: #333; 
}
.rounded_img {
    border-radius: 50%;
    overflow: hidden; 
    width: 100%;
    height: 100%;
}


.heading{
    text-align: center;
    margin-left: 10%;
    font-family: Irish Grover; font-size:calc(14px + 4vw);
    z-index: 5;
    position: relative;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    height: 70%;
    position: relative;
    z-index: 10;
  }

.centered-button {
    font-size: 200%;
    cursor: pointer;
    border-radius: 8px;
    z-index: 10;
  }

  .centered-button:hover {
    background-color: lightgrey;
}

  .bottom-image {
    position: absolute;
    bottom: 0;
    width: 88%;
    margin-left: 12%;
  }

  .con1 {
    position: absolute;
    height: 88%;
    display: flex;
    top: 0;
    left: 10%;
  }

  .con2 {
    position: absolute;
    height: 88%;
    display: flex;
    top: 0;
    right: 0;
    padding-right: 4%;
  }

  .images {
    max-width: 100%; 
    max-height: 100%;
    width: auto; 
    height: auto;
  }

  body {
    background: linear-gradient(to bottom, #7B947A, rgb(0, 54, 0));
}

@media (max-width:60em) {
  .sidenav {
    display: none;
  }

  .con1 {
    left: 0;
  }

  .centered-container {
    margin-left: 0;
  }

  .heading{
    margin-left: 0;
  }

  .bottom-image {
    width: 100%;
    margin-left: 0;
  }

}
