
.sidenav {
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000; 
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff; 
    display: block;
}

.sidenav a:hover {
    background-color: #333; 
}

.rounded_img {
    border-radius: 50%;
    overflow: hidden; 
    width: 100%;
    height: 100%;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#F7270B 0%, #F7270B 130px, #ada9af 130px, #ada9af 100%);

}

.container {
    width: 80%; /* Set the width of the container */
    max-width: 78%; /* Set the maximum width of the container */
    margin: 20px auto; /* Center the container horizontally with a margin */
    padding: 0px; /* Add some padding inside the container */
    background-color: #fff; /* Set the background color to white */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow for visual effect */
    height: 95vh;
    display: flex;
    margin-left: 17%;
}

.container .left{
    position: relative;
    flex: 30%;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline white;  
    text-align: center;
    font-size: larger;
}

.container .profile_info .edit_profile{

    font-size: 150%;
    background-color: #333;
    color: white;
}
.container .left .profile_info .edit_profile{
   

}

.container .left .profile_info .profile-image img{
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user-details {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 5px;
    
}

.label {
    font-weight: bold;
    text-align: center;
    justify-content: center;

}



#name {
    /* Add your desired background color */
    background-color: #f0f0f0; /* Example color */
    
    /* Add any other styling you want */
    border: 1px solid #ccc; /* Example border */
    padding: 8px; /* Example padding */
    font-size: 16px; /* Example font size */
    border-radius: 4px; /* Example border radius */
}

#age {
    /* Add your desired background color */
    background-color: #f0f0f0; /* Example color */
    
    /* Add any other styling you want */
    border: 1px solid #ccc; /* Example border */
    padding: 8px; /* Example padding */
    font-size: 16px; /* Example font size */
    border-radius: 4px; /* Example border radius */
}

select {
    /* Add your desired background color */
    background-color: #f0f0f0; /* Example color */
    
    /* Add any other styling you want */
    border: 1px solid #ccc; /* Example border */
    padding: 8px; /* Example padding */
    font-size: 16px; /* Example font size */
    border-radius: 4px; /* Example border radius */
    cursor: pointer;
}

.container .right{
    position: relative;
    flex: 70%;
    margin: 0; /* Remove margin */
    padding: 0;
    
}

.right {
    flex: 1;
    display: flex;
    
}


.black-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(#070707 0%, #040404 130px, #ada9af 130px, #ada9af 20%);
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    
}

.Profile_title{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 250%;
    text-align: center;
    color: #fff;
    text-decoration: underline;
    margin-top: 2%;
}

.Profile_button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    text-align: right;
    cursor: pointer;

}

 .black-section .Profile_button:hover button{
    background-color:grey;
}

.Poker_background img{

    width: 100%;
    height: auto;
    overflow: hidden;

}

.Profile_background{
    text-align: center;
    margin-top: 11%;
    opacity: 0.4;
    font-size: 130%;
    cursor: pointer;
}


.white-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgb(214, 210, 210);
    margin: 0; /* Remove margin */
}