.sidenav {
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000; 
}
.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff; 
    display: block;
}
.sidenav a:hover {
    background-color: #333; 
}
.rounded_img {
    border-radius: 50%;
    overflow: hidden; 
    width: 100%;
    height: 100%;
}
.container {
    margin-left: 10%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

label {
    display: inline-block;
    width: 10%;
    font-weight: bold;
    text-align: center;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: red;
}

@media (max-width:60em) {
    .sidenav {
      display: none;
    }
}
