<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link href='https://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="left">
            <h2 class="h2">Sign Up</h2>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="userName">User Name:</label>
                    <br>
                    <input type="text" id="userName" name="userName" [(ngModel)]="userName">
                </div>

                <div class="form-group">
                    <label for="userEmail">User Email:</label>
                    <br>
                    <!-- Add autocomplete attribute -->
                    <input type="email" id="userEmail" name="userEmail" [(ngModel)]="userEmail" autocomplete="username">
                </div>

                <div class="form-group">
                    <label for="userPassword">User Password:</label>
                    <br>
                    <input type="password" id="userPassword" name="userPassword" [(ngModel)]="userPassword">
                </div>
                <div class="form-group">
                    <label for="userPassword">Confirm Password:</label>
                    <br>
                    <input type="password" id="userPassword2" name="userPassword2" [(ngModel)]="userPassword2">
                </div><br>
                <button type="submit">Sign Up</button>
                <button class="button" routerLink="/">Login</button>


                <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
            </form>
        </div>

        <div class="right">

            <div><h2>Dating in disguise</h2></div>
            <div class="rightcentral">
                <div class="leftblack">
                    <img src="assets/images/loginPic">
                </div>
                <img src="assets/images/blindfold-512.png" class="center-image" alt="Center Image"> 
                <div class="rightblack">
                    <img src="assets/images/loginPic2">
                </div>
            </div>
            <!-- Additional content can be added here -->
        </div>
    </div>
</body>
</html>
