
.sidenav {
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000; 
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff; 
    display: block;
}
.sidenav a:hover {
    background-color: #333; 
}
.rounded_img {
    border-radius: 50%;
    overflow: hidden; 
    width: 100%;
    height: 100%;
}
.centre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    position: relative;
    margin-left: 10%;
    transition: left 0.3s;
}

.container {
    margin: 0 auto;
    text-align: center;
    height: 70%;
    position: relative;
    margin-left: 12%;
    background-color: #000;
}

input[type="text"] {
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
    height: 70%;
    position: relative;
    background-color: #caccd1;
}

button {
    padding: 10px 20px;
    background-color: #caccd1;
    color: #000000;
    border-radius: 5%;
    cursor: pointer;
}

button:hover {
    background-color: #eb1919;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000;
}

#userGreeting {
    color: white;
    
}

.centered-button {
    font-size: 200%;
    cursor: pointer;
    border-radius: 8px;
    z-index: 10;
  }

@media (max-width:60em) {
    .sidenav {
        display: none;
    }


    .centre {
        margin-left: 0%;
    }

    .container {
    margin-left: 5%;
    }

    input[type="text"] {
        margin-left: 5%;
    }
}
